<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/Styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sara's kitchen</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="../Images/cookinglogo.png" alt="Sara's Kitchen"></a>
    </header>
    
   <!--Navigation section--> 
   <div class="nav">

    <ul>
        <li>
            <a href="index.html"> Home</a>
        </li>
        <li>
            <a href="reciepe.html">Receipe</a>
        </li>
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="contact.html">Contact Us</a>
        </li>
    </ul>
   </div>
</body>
</html>
   <!--  the main content of the web page-->
<div class="aboutFood"> 
  <section>
    <h1>KERALA STYLE FOODS:</h1>
      <img src="../Images/mango curry.jpg" alt="Food1">
      <p>
        Kerala-style ripe mango curry, traditionally called Mambazha Pulissery is a delicious curry prepared with fresh and juicy mangoes, jaggery
      </p> 
      <ul class="items">
        <li>Coconut</li>
        <li>Jaggery</li>
        <li>Ripen mango</li>
      </ul>
      
  
      
  </section>
  <aside class="right">
          <h1><Video</h1>
          <div class="video">
            <video controls autoplay>
              <source src="../Media/Pexels Videos 1238406.mp4" type="video/mp4">
              <p>The browser is not supporting video tag</p>
            </video>
          </div>
  </aside>
</div>
    <footer>
        <div id="copyright">
          <p><!-- &#169; copyright symbol html entity number -->
          &copy; Copyright 2020. All Rights Reserved. <br>
          <a href="mailto:saraskitchen@foodblog.net">saraskitchen@foodblog.net</a></p>
        </div>
        <div id="social">
          <p>Connect with us in</p>
          <p><a href=""><img src="../Images/instagram.png" alt="facebook logo"></a></p>
      
        </div>
      </footer>
  

      
      