<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/Styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sara's kitchen</title>

</head>
<body>
    <!--header section-->
    <header>
        <a href="index.html"><img src="../Images/cookinglogo.png" alt="Sara's Kitchen"></a>
        
    </header>
    
   <!--Navigation section--> 
   <div class="nav">

    <ul>
        <li>
            <a href="index.html"> Home</a>
        </li>
        <li>
            <a href="reciepe.html">Receipe</a>
        </li>
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="contact.html">Contact Us</a>
        </li>
    </ul>
   </div>
   
</body>
</html>
   <main>
    <div class="desktop">
    <table>
      <caption>Group Fitness Class Scedule</caption>
       <tr>
           <th>Class</th>
           <th>Days</th>
           <th>Times</th>
           <th>Instructor</th>
           <th>Room</th>
       </tr>
       <tr>
           <td>Puttu&Kadala</td>
           <td>Mon, Wed, Fri</td>
           <td>6:00am, 6:00pm</td>
           <td>Schultz</td>
           <td>B</td>
       </tr>
       <tr>
           <td>Biriyani</td>
           <td>Tue, Thu</td>
           <td>5:00am, 5:00pm</td>
           <td>Taylor</td>
           <td>B</td>
       </tr>
       <tr>
           <td>Idiyappam</td>
           <td>Tue, Thu</td>
           <td>6:00am, 6:00pm</td>
           <td>Roberts</td>
           <td>A</td>
       </tr>
       <tr>
           <td>Chicken curry</td>
           <td>Mon, Wed, Fri</td>
           <td>8:00am, 7:15pm</td>
           <td>Lawrence</td>
           <td>A</td>
       </tr>
       <tr>
           <td>Masala dosa</td>
           <td>Tue, Thu</td>
           <td>6:00am, 6:00pm</td>
           <td>Schultz</td>
           <td>B</td>
       </tr>
       <tr>
           <td>Desert</td>
           <td>Mon, Wed, Fri</td>
           <td>7:00am, 6:00pm</td>
           <td>Roberts</td>
           <td>A</td>
       </tr>
   </table>
  </div>
 <h2>Ready to get started? Contact us today.</h2>
<p>We are located at: <br>
    25437 Bloom Court <br>
    Locket, GA 65524
  </p>

  <p>
    Phone Number
  </p>
  <p>
    <a class="mobile" href="tel:8145559608">(814) 555-9608</a><span class="desktop">(814) 555-9608</span>
  </p>
  <p>
    Email Address
  </p>
  <p>
    <a href="mailto:saraskitchen@myBog.net" class="contact">saraskitchen@myBog.net</a>
  </p>
  </main>
  <!-- footer section for the copyright and links to social medias -->
  <footer>
    <div id="copyright">
      <p><!-- &#169; copyright symbol html entity number -->
      &copy; Copyright 2020. All Rights Reserved. <br>
      <a href="mailto:saraskitchen@myBog.net">saraskitchen@foodblog.net</a></p>
    </div>
    <div id="social">
      <p>Connect with us in</p>
      <p><a href=""><img src="../Images/instagram.png" alt="facebook logo"></a></p>
  
    </div>
  </footer>
