<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/Styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sara's kitchen</title>
</head>
<body>
    <header>
        <a href="index.html"><img src="../Images/cookinglogo.png" alt="Sara's Kitchen"></a>
    </header>
    <!--Navigation section--> 
   <div class="nav">

    <ul>
        <li>
            <a href="index.html"> Home</a>
        </li>
        <li>
            <a href="reciepe.html">Receipe</a>
        </li>
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="contact.html">Contact Us</a>
        </li>
    </ul>
   </div>
   
</body>
</html>
    <!--  the main content of the web page-->
<div class="main"> 
    <section>
        <h1>
            Follow our receipe to create magic of food.
            </h1>
            <div class="receipe __section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image__wrapper">
                                <img src="../Images/desert.jpg" alt="ffood1">
                                <div class="image__wrapper_text"></div>


                        </div>

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4"></div>

                </div>
            </div>
            
                <h5>Desert</h5>
            
        
            <div class="image__wrapper">
                <img src="../Images/idli sambar.jpg" alt="food2">
                <div class="image__wrapper_text"></div>
                <h5>Idli Sambar</h5>
                
            
            </div>
    </section>
    <aside class="right">
            <li>
                <a href="#">Category</a>
            </li>
            <li>
                <a href="#">Receipe</a>
            </li>
            <li>
                <a href="#">shop</a>
            
            </li>
    </aside>
</div>

   
<footer>
  <div id="copyright">
    <p><!-- &#169; copyright symbol html entity number -->
    &copy; Copyright 2020. All Rights Reserved. <br>
    <a href="mailto:saraskitchen@foodblog.net">saraskitchen@foodblog.net</a></p>
  </div>
  <div id="social">
    <p>Connect with us in</p>
    <p><a href=""><img src="../Images/instagram.png" alt="facebook logo"></a></p>

  </div>
</footer>